/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Nunito', sans-serif;
}
/* *** HEADER *** */

header{
    height: 100px;
    background-color: #009688;
}





/* *** MAIN *** */

main{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: calc(100vh - 70px);
    background-color: white;
}

aside#sx{
    width: 40%;
}
aside#dx{
    width: 60%;
}

/*   conolla sinista   */
.user-bar{
    height: 7.5%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-bar .user{
    width: 70%;
    padding: 5px;
    display: flex;
    align-items: center;
}
.user-bar .user img{
    height: 40px;
    border-radius: 50%;
}
.text a{
    font-size: 12px;
    color: #5e8da2;
}

.user-bar .icons{
    width: 30%;
    font-size: 24px;
    text-align: center;
    color: #b1b1b1;
}


aside#sx #notifications{
    height: 7.5%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 15px;
}
aside#sx #notifications i{
    width: 45px;
    height: 45px;
    font-size: 18px;
    padding: 12px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
}
aside#sx #search-bar{
    height: 5%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 4px;
}
#search-bar button{
    width: 12%;
    border: none;
    background-color: white;
    color: #c5c7c9;
    height: 70%;
    cursor: pointer;
}
#search-bar input{
    width: 80%;
    height: 70%;
    border: none;
    margin-right: 5px;
    color: #c5c7c9;
}


aside#sx #contacts{
    height: 80%;
}
/*   conolla destra   */
aside#dx .user-bar{
border-left: 1px solid black;
}
aside#dx .main{
    height: 85%;
    background-image: url('../img/mine.jpg');
}


/* *** FOOTER *** */
footer{
    height: calc(100vh - 100px);
    background-color: #d6dbd7;
}

