/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}


/* *** HEADER *** */

header{
    height: 100px;
    background-color: #009688;
}





/* *** MAIN *** */

main{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: calc(100vh - 70px);
    background-color: white;
}

aside#sx{
    width: 40%;
}
aside#dx{
    width: 60%;
    background-color: gray;
}

aside#sx #user-bar{
    height: 8%;
    background-color: #eaeaea;
}
aside#sx #notifications{
    height: 8%;
    background-color: #8edafc;
}
aside#sx #search-bar{
    height: 4%;
    background-color: #fafafa;
}
aside#sx #contacts{
    height: 80%;
    background-color: red;
}



/* *** FOOTER *** */
footer{
    height: calc(100vh - 100px);
    background-color: #d6dbd7;
}



