<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- myStylCss -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>

    <div id="root">

        <header></header>
        <footer></footer>

        <main>

            <aside id="sx">
                <section class="user-bar">
                    <div class="user">
                        <img src="img/avatar_1.jpg" alt="">
                        <div class="text">
                            <h4>Nome Utente</h4>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>

                <section id="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <div class="text">
                        <h4>Richiedi Notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </section>

                <section id="search-bar">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </section>

                <section id="contacts">
                    <div class="contact" v-for="(contact, index) in contacts" @click="selectMessage(index)">
                        <!-- <img :src="'img/avatar' + contact.avatar + '.jpg'" alt=""> -->
                        <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                        <h4>{{contact.name}}</h4>
                    </div>                    
                </section>
            </aside>

            <aside id="dx">
                <section class="user-bar">
                    <div class="user">
                        <img src="img/avatar_1.jpg" alt="">
                        <div class="text">
                            <h4>Michele</h4>
                            <span id="last-acces" >Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </section>

                <section class="main">
                    <div class="row clearfix" v-for="mess in contacts[selectedContact].messages">
                        <div class="sent">
                            <div class="mex-Text">
                                <!-- <span>{{contacts[selectedContact].messages[selectedContact].message}}</span> -->
                                <span>{{mess.message}}</span>
                            </div>
                            <div class="mex-Date">
                                <span>12-12-12 alle 12:12</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row clearfix">
                        <div class="received clearfix">
                            <div class="mex-Text">
                                <span>No problem bro!</span>
                            </div>
                            <div class="mex-Date">
                                <span>12-12-12 alle 12:12</span>
                            </div>
                        </div>
                    </div> -->
                </section>

                <section class="footer-bar">
                    <div class="contI">
                        <i class="far fa-smile"></i>
                    </div>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <div class="contI">
                        <i class="fas fa-microphone"></i>
                    </div>
                </section>
            </aside>
         
        </main>
 
    </div>
    
    <!-- development version, includes helpful console warnings --> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/contacts.js"></script>
</body>
</html>